/DogBarberShop/DogBarberShop-API/target/
/DogBarberShop/DogBarberShop-backend/target/
/DogBarberShop/DogBarberShop-web/target/
/*/*/derby.log
/DogBarberShop/DogBarberShop-cli/target/
/DogBarberShop/rest-jersey-server/target/