<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <wicket:panel>
        <div class="menu_button"><a class="menu" wicket:id="employeesButton"><wicket:message key="Menu.employeesButton"/></a></div>
        <div class="menu_button"><a class="menu" wicket:id="servicesButton"><wicket:message key="Menu.servicesButton"/></a></div>
        <div class="menu_button"><a class="menu" wicket:id="customersButton"><wicket:message key="Menu.customersButton"/></a></div>
        <div class="menu_button"><a class="menu" wicket:id="dogsButton"><wicket:message key="Menu.dogsButton"/></a></div>  
    </wicket:panel>
</html>
